In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import accuracy_score

In [2]:
data= pd.read_csv('Computer_DTree.csv')
print(data)

data2=data.copy()

            age  income student credit_rating buys_computer
0         youth    high      no          fair            no
1         youth    high      no     excellent            no
2   middle_aged    high      no          fair           yes
3        senior  medium      no          fair           yes
4        senior     low     yes          fair           yes
5        senior     low     yes     excellent            no
6   middle_aged     low     yes     excellent           yes
7         youth  medium      no          fair            no
8         youth     low     yes          fair           yes
9        senior  medium     yes          fair           yes
10        youth  medium     yes     excellent           yes
11  middle_aged  medium      no     excellent           yes
12  middle_aged    high     yes          fair           yes
13       senior  medium      no     excellent            no

In [3]:
data_t = {"buys_computer": {"yes": 1, "no": 0}}
data2.replace(data_t, inplace=True)
print(data2)

            age  income student credit_rating  buys_computer
0         youth    high      no          fair              0
1         youth    high      no     excellent              0
2   middle_aged    high      no          fair              1
3        senior  medium      no          fair              1
4        senior     low     yes          fair              1
5        senior     low     yes     excellent              0
6   middle_aged     low     yes     excellent              1
7         youth  medium      no          fair              0
8         youth     low     yes          fair              1
9        senior  medium     yes          fair              1
10        youth  medium     yes     excellent              1
11  middle_aged  medium      no     excellent              1
12  middle_aged    high     yes          fair              1
13       senior  medium      no     excellent              0

In [4]:
x=data2.iloc[:,0:4]
y=data2.iloc[:,4]

In [5]:
x

            age  income student credit_rating
0         youth    high      no          fair
1         youth    high      no     excellent
2   middle_aged    high      no          fair
3        senior  medium      no          fair
4        senior     low     yes          fair
5        senior     low     yes     excellent
6   middle_aged     low     yes     excellent
7         youth  medium      no          fair
8         youth     low     yes          fair
9        senior  medium     yes          fair
10        youth  medium     yes     excellent
11  middle_aged  medium      no     excellent
12  middle_aged    high     yes          fair
13       senior  medium      no     excellent

In [6]:
y

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: buys_computer, dtype: int64

In [7]:
x1=pd.get_dummies(x)
x1

,age_middle_aged,age_senior,age_youth,income_high,income_low,income_medium,student_no,student_yes,credit_rating_excellent,credit_rating_fair
0,0,0,1,1,0,0,1,0,0,1
1,0,0,1,1,0,0,1,0,1,0
2,1,0,0,1,0,0,1,0,0,1
3,0,1,0,0,0,1,1,0,0,1
4,0,1,0,0,1,0,0,1,0,1
5,0,1,0,0,1,0,0,1,1,0
6,1,0,0,0,1,0,0,1,1,0
7,0,0,1,0,0,1,1,0,0,1
8,0,0,1,0,1,0,0,1,0,1
9,0,1,0,0,0,1,0,1,0,1
10,0,0,1,0,0,1,0,1,1,0
11,1,0,0,0,0,1,1,0,1,0
12,1,0,0,1,0,0,0,1,0,1
13,0,1,0,0,0,1,1,0,1,0

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x1,y,test_size=0.2)

In [9]:
clf = DecisionTreeClassifier(criterion='gini')
clf.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
y_pred=clf.predict(x_test)
print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))

Accuracy score: 100.000000

In [ ]:
print(y_test.values)

[1 1 0]

In [ ]:
print(y_pred)

In [ ]:
from sklearn import tree
tree.plot_tree(clf.fit(x1, y))